<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutoTestWithReport">
    <listeners>
        <listener class-name="config.GlobyReportConfig"></listener>
    </listeners>

    <test name="ExecutingTestBySuite_self">
        <!--<groups>
            <run>
                <include name="ui_auto"></include>
                <include name=""></include>
            </run>
        </groups>-->
        <classes>
            <class name="testcase.LoginCase"></class>
            <class name="testcase.AddPowerPlantCase"></class>
        </classes>
    </test>

    <suite-files>
        <!--    suitefile 可以指定多个suite运行    -->
        <!--        <suite-file path="xx.xml"></suite-file>-->
        <!--        <suite-file path="xx.xml"></suite-file>-->

    </suite-files>

</suite>